
/* fonts */

head, body, html, {
    font-family: 'Josefin Sans', sans-serif !important;
}

div, h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif !important;
}

/* force mobile view to screen width */

/* html, body {width: auto!important; overflow-x: hidden!important}  */

/*   */

.about-photo {
    /* margin-right:20px;  */
    border-radius: 10%;
    height: 208px;
    max-width: 400px;
}

div.profile-photo {
    justify-content: center;
    width:100%;
}

form.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    width: 400px;
    margin: 0 auto;
}

.contact-form p {
    display: flex;
    /* max-width: 500px; */
    flex-direction: column;
    width: 100%;
}

/* .contact-form label {
    float: left;
    clear: both;
}

.contact-form input {
    float: left;
    clear: both;
} */

.contact-form-container {
    /* width: 500px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form-container > * {
    /* padding: 1em; */
}

.contact-form-container hr {
    width: 100%;
}

.photo-side {
    padding: 25px;
    flex-grow: 1;
}

.title-side {
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.about-block {
    display: flex !important;
    background: #E5E5E5;
    padding: 0px 8px;
    flex-wrap: wrap;
}

.bulletin {
    background: #5c58589c;
    padding: 25px;
    text-align: center;
}

.bulletin a {
    color: white !important;
}

 .explainer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size:20px;
 }

 .explain-titles h2 {
     text-align: center;
 }

 .explain-titles p {
    margin-bottom: 5rem;
}

.subdir-header {
    text-align: center;
}

div.subdir-header {
    padding: 25px 0px;
}

.subpages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.subpage-section {
    width: 75%;
    text-align: center;
    padding: 35px 0px;
}

.subpage-section h3, .subpage-section a {
    text-align: center;
}

.single-page-header h1 {
    text-align: center;
}

.single-page-header {
    padding: 10px 0px;
    margin-bottom: 15px;
}

.breadcrumb-navbar {
    font-size: 23px;
}

/* experimental styles */

    /* .header {
        background: #F1ED10;

    }
    .main-menu a {
        color : black !important;

    } */


/*    --media queries--   */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .photo-side, .title-side  {
        width: 50%;
    }

    .about-photo {
        margin: 1.5em;
    }
}
/*  ------------------   */

.main-menu  a {
    color: white !important;
  }
  .main-menu a:hover {
    text-decoration: none;
  }

  /* sub menu styles - its a big mess :[ */

  .main-menu li {
    display: block;
    transition-duration: 0.5s;
   }
   
   .main-menu li:hover {
     cursor: pointer;
   }
   
   .main-menu ul li ul {
     display: none;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 0;
   }
   
   .main-menu ul li:hover > ul,
   .main-menu ul li ul:hover,
   .main-menu:hover {
     display: block;
     transition: display .25s;
     -webkit-transiton: display .25s;
     -moz-transition: display .25s;
     -ms-transition: display .25s;
     -o-transition: display .25s;
   }

   /* test by uncommenting hover content block here */

   /* .main-menu ul li > ul,
   .main-menu ul li ul {
     visibility: visible;
     opacity: 1;
     display: block;
   } */

   .main-menu ul, .main-menu li {
       padding: 0px;
       margin: 0px !important;
   }

   .main-menu ul li {
       position: relative !important;
   }

   .main-menu ul li ul {
        position: absolute !important;
        min-width: 300px;
        background: #5c5858;
        z-index:7;
    }

    .main-menu ul li ul a {
        padding: 5px;
    }

   .main-menu ul li ul li {
       clear: both;
       position: relative !important;
   }


   .main-menu li:hover {
    background: #E5E5E5;
   }

   .main-menu li:hover a {
    color: black !important;
   }

   .main-menu {
       padding: 5px;
   }

   .subdir-menu {
    padding: 5px;
   }

   .main menu li:not(:hover) .subdir-menu:active {
       color: black !important;
   }

   /*  ------------------ */